.progress-logo {
  position: absolute;
  top: 0;
  left: 0;
}
.CircularProgressbar-path {
  stroke: #03a9f4;
}
.CircularProgressbar-trail {
  stroke: gray;
}
.CircularProgressbar-text {
  fill: yellow;
}
.CircularProgressbar-background {
  fill: green;
}
