@import "../Navbar/Navbar.scss";
@import "../../shared/styles/layout.scss";
@import "../../shared/styles/colors.scss";

.container-technologies {
  padding: 20px 0;
  nav {
    color: #ffffff;
    display: flex;
    justify-content: center;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.5);
    background: $mainColorLight;
  }
  .container {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    width: 100%;

    picture:nth-child(odd) {
      margin: 5px 20px 5px 0;
    }
    picture:nth-child(even) {
      margin: 5px 0 5px 20px;
    }
    article {
      box-shadow: 0px 0px 10px 5px #494949;
      padding: 10px;
      color: #ffffff;
      p {
        padding: 0;
        margin: 0;
      }
      p:first-child {
        margin-bottom: 10px;
      }
    }
  }
}
@media (orientation: landscape) {
  .container-technologies picture {
    width: 6%;
  }
  .container-technologies article {
    width: 20%;
  }
}

@media (orientation: portrait) {
  .container-technologies picture {
    width: 20%;
  }
  .container-technologies article {
    width: 60%;
    font-size: 0.8rem;
  }
}
