@import "../Navbar/Navbar.scss";
@import "../../shared/styles/layout.scss";
@import "../../shared/styles/colors.scss";

.container-technologies {
  padding: 100px 0;
  nav {
    color: #ffffff;
    display: flex;
    justify-content: center;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.5);
    background: $mainColorLight;
  }
  section {
    .container {
      display: flex;
      &:first-child {
        margin-bottom: 40px;
      }
      .col {
        padding: 60px 0;
        display: flex;
        justify-content: center;
        width: 100%;
        picture:nth-child(odd) {
          margin: 5px 40px 5px 0;
        }
        picture:nth-child(even) {
          margin: 5px 0 5px 40px;
        }
        picture img {
          transform: scale(1);
          transition: transform 0.4s ease-in-out;
          &:hover {
            transform: scale(1.2);
          }
        }
        article {
          box-shadow: 0px 0px 10px 5px #494949;
          padding: 10px;
          margin-top: 50px;
          color: #ffffff;
          background: #3c3c3c;
          position: relative;
          p {
            padding: 0;
            margin: 0;
          }
          p:first-child {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

.container-technologies article:nth-child(even) {
  &:before {
    content: "";
    position: absolute;
    bottom: -24%;
    left: -22.5%;
    z-index: -1;
    background-image: radial-gradient($font_color_hover 20%, transparent 20%);
    background-position: 82px 105px;
    background-size: 20px 24px;
    height: 70%;
    width: 70%;
  }
}
.container-technologies article:nth-child(odd) {
  &:after {
    content: "";
    position: absolute;
    bottom: -24%;
    right: -22.5%;
    z-index: -1;
    background-image: radial-gradient($font_color_hover 20%, transparent 20%);
    background-position: 82px 105px;
    background-size: 20px 24px;
    height: 70%;
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .container-technologies picture {
    width: 20%;
  }
  .container-technologies article {
    width: 50%;
    position: relative;
  }
}

@media (max-width: 1200px) {
  .container-technologies {
    .container {
      flex-direction: column;
      padding: 0 10px;
      picture {
        width: 20%;
      }
    }
  }
  .container-technologies article {
    width: 60%;
    font-size: 0.8rem;
  }
}
