@import "../Navbar/Navbar.scss";
@import "../../shared/styles/layout.scss";
@import "../../shared/styles/colors.scss";

.side-drawer {
  display: flex;
  position: fixed;
  top: $navbar-height;
  height: 40%;
  width: 100%;
  background: #353434;
  color: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  z-index: 900;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
  a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
  ul {
    display: flex;
    margin-top: 0;
    list-style: none;
    flex-direction: column;
    li {
      margin: 0.5rem 0;
    }
  }
}

.side-drawer.open {
  transform: translateY(0);
}

@media (min-width: 769px) {
  .side-drawer {
    display: none;
  }
}
