$colors: (
  mustard: #af9459,
  mainColor: #353434,
  mainColorLight: #424242,
  font_color_hover: #458ede,
  blur: #90e6f3,
  oil_light: #119da4,
  gradient_dark: #26363a,
  gradient_light: #608789,
  dark_grey: rgb(75, 72, 72)
);
//
$mainColor: map-get($colors, mainColor);
$mainColorLight: map-get($colors, mainColorLight);
$dark_grey: map-get($colors, dark_grey);
$font_color_hover: map-get($colors, font_color_hover);
$blur: map-get($colors, blur);
$mustard: map-get($colors, mustard);
$oil_light: map-get($colors, oil_light);
$oil_dark: map-get($colors, oil_dark);
$oil_dark_nav: map-get($colors, oil_dark_nav);
$gradient_dark: map-get($colors, gradient_dark);
$gradient_light: map-get($colors, oil_light);

//export do js
:export {
  main: $mainColor;
  mainLight: $mainColorLight;
  mustardColor: $mustard;
  font_hoverColor: $font_color_hover;
  blurColor: $blur;
  oil_lightColor: $oil_light;
  oil_darkColor: $oil_dark_nav;
  gradient_lightColor: $oil_light;
  gradient_darkColor: $oil_light;
}
