@font-face {
  font-family: merriweather;
  src: url("../../font/merry/Merriweather-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../../font/roboto/Roboto-Regular.ttf");
}

$main: 16px;
$main-family: "merriweather";

:export {
  size: $main;
  main: $main-family;
}
