@font-face {
  font-family: bobas;
  src: url("../../font/BebasNeue/OTF/BebasNeueOTF.otf");
}
@font-face {
  font-family: merriweather;
  src: url("../../font/Merriweather-Regular.ttf");
}
$main: 16px;
$main-family: "merriweather";
$family: bobas;

:export {
  size: $main;
  main: $main-family;
  family: $family;
}
