.carousel__wrapper {
  overflow-x: hidden;
  width: 100%;
  position: relative;

  .carousel {
    display: flex;
    width: calc(var(--n) * 100vw);
    .carousel__item {
      width: 100vw;
      position: relative;
      &:first-child {
        margin-left: calc(var(--step) * -100vw);
      }
      &:nth-child(1) {
        transition: margin-left 0.4s;
      }
      .carousel__item__content {
        width: 100vw;
      }
    }
  }
}
