@import "../Navbar/Navbar.scss";
@import "../../shared/styles/layout.scss";
@import "../../shared/styles/colors.scss";
@import "../../shared/styles/fonts";

.contact-form__section {
  width: 100%;
  nav {
    font-family: $main-family;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: center;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.5);
    background: $mainColorLight;
  }
  .container {
    width: 100%;
    padding: 10% 0;
    display: flex;
    justify-content: center;
    form {
      max-width: 600px;
      width: 90%;
      color: #ffffff;
      box-sizing: border-box;
      padding: 20px 30px;
      box-shadow: 0px 0px 10px 5px #494949;
      background: #3c3c3c;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        bottom: -24%;
        right: -15.5%;
        z-index: -1;
        background-image: radial-gradient(
          $font_color_hover 20%,
          transparent 20%
        );
        background-position: 82px 97px;
        background-size: 20px 24px;
        height: 70%;
        width: 70%;
      }
      input {
        display: block;
        width: 100%;
        border-radius: 10px;
        background: #eee;
        border: #eee;
        box-sizing: border-box;
        margin: 10px 0 20px 0;
        padding: 10px 20px;
        color: #000000;
      }
      textarea {
        color: #000000;
        background: #eee;
        width: 100%;
        border-radius: 10px;
        min-height: 100px;
        resize: none;
        border: #eee;
        box-sizing: border-box;
        margin: 10px 0 20px 0;
        padding: 10px 20px;
      }
      .btn-container {
        display: flex;
        justify-content: center;
        width: 100%;
        button {
          display: block;
          color: #ffffff;
          height: 40px;
          border: none;
          background: $font_color_hover;
          border-radius: 5px;
          padding: 0 20px;
          cursor: pointer;
          font-size: 0.9rem;
          box-sizing: border-box;
          transition: all 0.7s ease-in-out;
          font-weight: bold;
          &:hover {
            color: #1a5392;
            // animation: scale 0.8s ease-in-out;
            animation: shake 0.8s ease-in-out;
            background: $mustard;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .contact-form__section {
    .container {
      form {
        &:after {
          display: none;
        }
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: scale(0deg);
  }
  33% {
    transform: rotate(-10deg);
  }
  66% {
    transform: rotate(10deg);
  }
  100% {
    transform: scale(0deg);
  }
}
