@import "../Navbar/Navbar.scss";
@import "../../shared/styles/layout.scss";
@import "../../shared/styles/colors.scss";

.header-spacer {
  min-height: $navbar-height;
}
.header-content header {
  height: calc(100vh - #{$navbar-height});
  background: $mainColor;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  .title-text {
    padding-left: 20px;
    color: white;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    border-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 25%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 1) 25%
    );

    border-image-slice: 1;
    h1 {
      font-size: 2rem;
    }
  }
  img {
    width: 25%;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: -24%;
      right: -22%;
      z-index: -1;
      background-image: radial-gradient($font_color_hover 20%, transparent 20%);
      background-position: 82px 105px;
      background-size: 20px 24px;
      height: 70%;
      width: 70%;
    }
  }
  .bottom-text {
    color: #696969;
  }
}

.arrow {
  width: 10px;
  height: 10px;
  border: 3px solid;
  border-color: white transparent transparent white;
  transform: rotate(-135deg);
}

.arrowSliding {
  position: absolute;
  top: calc(100% - #{$navbar-height});
  left: 50%;
  cursor: pointer;
}
.arrowSliding {
  -webkit-animation: slide 4s linear infinite;
  animation: slide 4s linear infinite;
}
.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translatey(-8vh);
  }
  20% {
    opacity: 1;
    transform: translatey(-2vh);
  }
  80% {
    opacity: 1;
    transform: translatey(2vh);
  }
  100% {
    opacity: 0;
    transform: translatey(4vh);
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translatey(-8vh);
  }
  20% {
    opacity: 1;
    transform: translatey(-2vh);
  }
  80% {
    opacity: 1;
    transform: translatey(2vh);
  }
  100% {
    opacity: 0;
    transform: translatey(4vh);
  }
}

@media (orientation: portrait) {
  .header-content header {
    height: 100vh;
    .arrowSliding {
      top: 100%;
    }
    .title-text {
      position: relative;
    }
    .img-comp {
      display: none;
    }
  }
}
