@import "../../shared/styles/layout.scss";
@import "../../shared/styles/colors.scss";

$navbar-height: 60px;

nav {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  min-height: $navbar-height;
  display: flex;
  align-items: center;

  width: 100%;
  background-color: $oil_dark_nav;
  .menu-item {
    &:first-child {
      flex: 0 1 25%;
    }
    &:nth-child(2) {
      flex: 0 1 50%;
      justify-content: center;
    }
    &:last-child {
      flex: 0 1 25%;
      text-align: right;
      padding-right: $nav-margin;
    }
  }
  .nav__logo {
    width: 100%;
    height: $navbar-height;
  }
  a {
    margin-left: 5px;
    text-decoration: none;
    color: white;
  }
}

:export {
  navHeight: $navbar-height;
}
