@import "../../shared/styles/layout.scss";
@import "../../shared/styles/colors.scss";

$navbar-height: 80px;

nav {
  position: fixed;
  left: 0;
  top: 0;
  min-height: $navbar-height;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: $mainColor;
  .menu-item {
    &:first-child img {
      width: 40%;
    }
    &:nth-child(2) {
      flex: 1;
    }
    &:last-child {
      padding-right: 10px;
    }
    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
    }
    li {
      padding: 0 0.5rem;
    }
    a {
      text-decoration: none;
      color: white;
    }
    a:hover,
    a:active {
      color: #458ede;
    }
  }
  .nav__logo {
    width: 100%;
    height: $navbar-height;
  }
}

:export {
  navHeight: $navbar-height;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}

@media (min-width: 769px) {
  .nav-toggle__button {
    display: none;
  }
}
