@import "./shared/styles/colors";
@import "./shared/styles/fonts";
@import "./components/Navbar/Navbar.scss";

body {
  background: $gradient_light;
  .header-spacer {
    min-height: $navbar-height;
  }
  font-size: $main;
}
