@import "./shared/styles/colors";
@import "./shared/styles/fonts";
@import "./components/Navbar/Navbar.scss";

body {
  margin: 0;
  padding: 0;
  background: $mainColor;
  .header-spacer {
    min-height: $navbar-height;
  }
  font-size: $main;
}
